.container h1{
	color:#7b6bff;
	font-weight:100;
	letter-spacing: 1px;
	margin-left: 0 !important;
}

.container h2{
	color:#000;
	font-weight:200;
	letter-spacing: 1px;
}

.container h3{
	color:#000;
	font-weight:200;
	letter-spacing: 1px;
	margin-left:5%;
	margin-top:3%;

}

.container p{
	color:#000;
	font-size:1em;
	font-weight:200;
	letter-spacing: 1px;
	text-align: left;
}

.reviewset{
	margin-left: 6%;
}

.reviewset label{
	font-weight:200;
}

.reviewset input{
	min-width:400px;
	display:block;
}

.timelineimagewrapper{
	margin-left:4%;
}

.timelineimagewrapper img{
	max-width: 400px;
}

@media only screen and (max-width: 400px){
	.timelineimagewrapper img{
		max-width: 300px;
		margin-bottom: 10px;
		margin-left: 0% !important;
	}
	.timelineimagewrapper {
		margin-left: 0% !important;
	}
	.reviewset input{
		min-width:300px;
		display:block;
	}

}

@media only screen and (max-width: 768px){
	.container h3{
		color:#000;
		font-weight:200;
		letter-spacing: 1px;
		margin-left:0%;
	}
	.timelineimagewrapper {
		margin-left: 0% !important;
	}
}